<h1>Add Album</h1>

<form method="post">
    <div class="form-group">
        <label for="firstname">Artist's First Name</label>
        <input name="firstname" type="text" />
    </div>
    <div class="form-group">
        <label for="lastname">Artist's Last Name</label>
        <input name="lastname" />
    </div>
    <div class="form-group">
        <label for="groupname">Group Name</label>
        <input name="groupname" />
    </div>
    <div class="form-group">
        <label for="albumtitle">Album Title</label>
        <input name="albumtitle" />
    </div>
    <div>
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option value="Country">Country</option>
            <option value="Rock">Rock</option>
            <option value='Jazz'>Jazz</option>
            <option value='Hip Hop'>Hip Hop</option>
            <option value='Blues'>Blues</option>
            <option value='Classical'>Classical</option>
            <option value='Broadway'>Broadway</option>
            <option value='Pop'>Pop</option>
            <option value='New Age'>New Age</option>
            <option value='Folk'>Folk</option>
            <option value='R&B'>R&B</option>
            <option value='Hawaiian'>Hawaiian</option>
            <option value='Latin'>Latin</option>
            <option value='Salsa'>Salsa</option>
            <option value='Reggae'>Reggae</option>
            <option value='Gospel'>Gospel</option>
            <option value='Doo-Wop'>Doo-Wop</option>
            <option value='Soul'>Soul</option>
            <option value='Grunge'>Grunge</option>
            <option value='Opera'>Opera</option>
            <option value='Dance'>Dance</option>
            <option value='Electronic'>Electronic</option>
            <option value='Heavy Metal'>Heavy Metal</option>
        </select>
    </div>
    <br>
    <div>
        <label for="format">Album Format</label>
        <select name="format" id="format">
            <option value="CD">CD</option>
            <option value="Cassette Tape">Cassette Tape</option>
            <option value="Record">Record</option>
        </select>
    </div>
    <br>
    <input type="submit" value="Add Album" />
</form>