@using MusicCollectionLibrary.ViewModels;
@model AddAlbumViewModel;

<h1>Add Album</h1>

<form method="post">
    <div asp-controller="Albums" asp-action="Add" class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
    </div>
    <div class="form-group">
        <label asp-for="GroupName"></label>
        <input asp-for="GroupName" />
    </div>
    <div class="form-group">
        <label asp-for="AlbumTitle"></label>
        <input asp-for="AlbumTitle" />
    </div>
    <div>
        <label asp-for="Genre"></label>
        <select asp-for="Genre">
            <option value='A Capella'>A Capella</option>
            <option value='Adult Contemporary'>Adult Contemporary</option>
            <option value='Alternative Rock'>Alternative Rock</option>
            <option value='Blues'>Blues</option>
            <option value='Blues Rock'>Blues Rock</option>
            <option value='Broadway'>Broadway</option>
            <option value='Childrens'>Children's</option>
            <option value='Classical'>Classical</option>
            <option value='Christian'>Christian</option>
            <option value='Christmas'>Christmas</option>
            <option value='Combination'>Combination</option>
            <option value="Country">Country</option>
            <option value='Dance'>Dance</option>
            <option value='Disco'>Disco</option>
            <option value='Doo-Wop'>Doo-Wop</option>
            <option value='Electronic'>Electronic</option>
            <option value='Electronic Dance'>Electronic Dance</option>
            <option value='Eurobeat'>Eurobeat</option>
            <option value='Euro Disco'>Euro Disco</option>
            <option value='Folk'>Folk</option>
            <option value='Folk Pop'>Folk Pop</option>
            <option value='Funk'>Funk</option>
            <option value='Gospel'>Gospel</option>
            <option value='Grunge'>Grunge</option>
            <option value='Hawaiian'>Hawaiian</option>
            <option value='Heartland Rock'>Heartland Rock</option>
            <option value='Heavy Metal'>Heavy Metal</option>
            <option value='Hip Hop'>Hip Hop</option>
            <option value='Instrumental'>Instrumental</option>
            <option value='International'>International</option>
            <option value='Island'>Island</option>
            <option value='Jazz'>Jazz</option>
            <option value='Latin'>Latin</option>
            <option value='Latin Pop'>Latin Pop</option>
            <option value='Musical'>Musical</option>
            <option value='Neo Soul'>Neo Soul</option>
            <option value='New Age'>New Age</option>
            <option value='Opera'>Opera</option>
            <option value='Pop'>Pop</option>
            <option value='Pop Rock'>Pop Rock</option>
            <option value='Psychedelia'>Psychedelic</option>
            <option value='Punk Rock'>Punk Rock</option>
            <option value='R&B'>R&B/Soul</option>
            <option value='Reggae'>Reggae</option>
            <option value='Rockabilly'>Rockabilly</option>
            <option value="Rock">Rock</option>
            <option value='Salsa'>Salsa</option>
            <option value='Soft Rock'>Soft Rock</option>
            <option value='Standards'>Standards</option>
            <option value='Surf'>Surf</option>
            <option value='Synth Pop'>Synth Pop</option>
            <option value='Techno'>Techno</option>
        </select>
    </div>
    <br>
    <div>
        <label asp-for="Format"></label>
        <select asp-for="Format">
            <option value="CD">CD</option>
            <option value="Cassette Tape">Cassette Tape</option>
            <option value="Record">Record</option>
        </select>
    </div>
    <br>
    <input type="submit" value="Add Album" />
</form>