<h1>Welcome to Your Music Collection Library!</h1>

<p>
    <a asp-controller="Albums" asp-action="Add">Add Album</a>
</p>

@if (ViewBag.albums.Count == 0)
{
    <p>No albums yet!</p>
}

else
{
    <table class="table">
        <tr>
            <th>
                Artist's First Name
            </th>
            <th>
                Artist's Last Name
            </th>            
        </tr>

        @foreach (var album in ViewBag.albums)
        {
            <tr>
                <td>@album.Key</td>
                <td>@album.Value</td>                
            </tr>
        }
    </table>
}